.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    ul {
        @include li-reset;
        li {
            margin: 0px 5px 5px 0px;
            display: block;
            float: left;
        }
    }
    a {
        font-size: .875em;
        padding: .5em 1.2em;
        display: block;
        color: #535353;
        box-sizing: border-box;
        border-radius: 30px;
        background: rgba(#b5b5b5, .3);
        &:hover,
        &:focus {
            transition: .2s;
            color: #FFF;
            background: #858585;
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            background: #535353;
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
}